div.panel {
    width: 600px;
    margin: 10px;
}

img, .image {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.match-day {
  width: 80px;
}

table {
    width: 570px;
}

table>thead>tr>td,
table>tbody>tr>td {
    text-align: center;
    vertical-align: middle;
}

.day-header {
  margin-left: 10px;
}
