<div class="container">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-stripped table-bordered">
          <thead>
            <tr>
              <td width=20>#</td>
              <td width=150></td>
              <td width=100></td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="#team of teams; #i=index">
              <td>{{i + 1}}</td>
              <td>{{team.name}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
